.PGallerySelection_main {
    width: 80vw;
    margin: 2.5vh auto;
    background: linear-gradient(rgba(5.1, 23.5, 23.5, 0.933), rgba(5.1, 23.5, 23.5, 0.933)),url(../img/IMGP7571-3.jpg) no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.PGallerySelection_main div {
    height: 30vh;
    margin: 1vh 1vw;
    box-shadow: 3px 3px 3px 7px rgba(17, 94, 94, 0.411);
    cursor: pointer;
}
.PGallerySelection_main div:hover {
    box-shadow: 3px 3px 3px 7px rgba(17, 134, 134, 0.774);
}

.PGallerySelection__Box1 {
    flex-basis: 10%;
    width: 20vw;
    background-color: gray;
}
.PGallerySelection__Box2 {
    width: 20vw;
    background-color: darkgrey;
}
.PGallerySelection__Box3 {
    width: 40vw;
    background-color: firebrick;
}
.PGallerySelection__Box4 {
    width: 30vw;
    background-color: salmon;
}
.PGallerySelection__Box5 {
    width: 27vw;
    background-color: aquamarine;
}
.PGallerySelection__Box6 {
    width: 33vw;
    background-color: wheat;
}
.PGallerySelection__Box7 {
    width: 41vw;
    background-color: goldenrod;
}
.PGallerySelection__Box8 {
    width: 27vw;
    background-color: tan;
}
.PGallerySelection__Box9 {
    width: 31vw;
    background-color: teal;
}
.PGallerySelection__Box10 {
    width: 54vw;
    background-color: thistle;
}
.PGallerySelection__Box12 {
    width: 43vw;
    background-color: tomato;
}
.PGallerySelection__Box13 {
    width: 32vw;
    background-color: turquoise;
}
.PGallerySelection__Box14 {
    width: 70vw;
    background-color: red;
}
.PGallerySelection__Box15 {
    width: 50vw;
    background-color: chocolate;
}


