.headerUpper {
    height: 10vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
}

.headerUpper__left {
    margin: 0 auto;
    padding: 1vh 1vw;

}

.pWord {
    font-family: "EnchantedLand";
    margin: 0 auto;
    position: relative;
    top: 1vh;
    left: 49vw;
    font-size: 4rem;
    font-weight: 400;
}
.sWord {
    font-family: "EnchantedLand";
    margin: 0 auto;
    position: relative;
    top: -1vh;
    left: 49.7vw;
    font-size: 4rem;
    font-weight: 400;
}