.main__App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgba(6, 7, 7, 0.933);
  color: snow;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}
section {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
